.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../assets/landindImg.jpg);
  background-size: cover;
  min-height: 100vh;
  transition: background-position 0.5s ease;
  padding-top: 120px;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  box-sizing: border-box;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.landing .text {
  height: 40px;
  margin-bottom: 50px;
  z-index: 1;
}

.landing .text h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 50px;
}

.landing .text p {
  font-size: 1.5rem;
  color: #fff;
}

.landing .buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
}

.landing .buttons button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 20px;
}

/* Media query for two columns on larger screens */
@media screen and (min-width: 768px) {
  .landing .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .landing .buttons {
    grid-column: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.landing .title-fade-in {
  opacity: 1;
  animation: fadeInOut 12s forwards;
}

.landing .title-fade-out {
  opacity: 0;
}

.landing .typing-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 325px) {
  .landing .buttons {
    margin-top: 200px;
  }
}

.landing .primary-button {
  align-items: center;
  appearance: none;
  background-color: #3674a6;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #feffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 99px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 7px;
}

.landing .primary-button:hover {
  background: #003e7d;
  color: #fff;
  transition: background-color 0.3s ease;
}

.landing .primary-button:not(:hover) {
  background: #004a98;
  color: #feffff;
}

.landing .primary-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.landing .primary-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.landing .primary-button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.landing primary-button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.landing primary-button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.landing primary-button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.landing primary-button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
