.profile {
  margin-top: 60px;
  padding: 20px;
}

.profile span {
  font-weight: bold;
  color: #3674a6;
}
.profile .gust {
  text-align: center;
}
.profile .link {
  color: #3674a6;
  text-decoration: none;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  color: black;
}
.post-header button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.profile .post-header {
  margin: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
}

.post-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 7px 5px;
}

.post-buttons button:hover {
  color: #007bff;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 10px;
}
@media screen and (min-width: 670px) {
  /* .profile-info {
    grid-template-columns: repeat(2, 1fr);
  } */

  .profile-info {
    grid-column: 2;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
.info {
  margin-top: 15px;
  border-top: 1px solid #eee;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.profile-photo {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.profile-photo button {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #64748b;
}

.edit-icon {
  font-size: 1.2em;
}

.info h2 {
  margin-top: 25px;
  padding-bottom: 25px;
}
.info p {
  margin-top: 0;
  padding-bottom: 15px;
}

.buttons button {
  margin: 10px 10px 10px 0px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.post {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.select-container {
  position: relative;
  display: inline-block;
}

.select-selected {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #f0f0f0;
  border-top: none;
  border-radius: 4px 4px 4px 4px;
}

.select-option {
  padding: 8px 16px;
  cursor: pointer;
}

/* Arrow icon */
.select-arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}

/* Additional styles for the modal */
/* .ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */
