.content .container .posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px !important;
  margin-top: 100px;
}

.content .post-header {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  margin: 0 10%;
}

.btn-add .hide {
  display: none;
}
@media only screen and (max-width: 600px) {
  .new-post-text {
    display: none;
  }
  .content .post-header {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .post-header .search-bar {
    margin-left: 0;
  }

  .post-header .search-bar input[type="text"] {
    padding-right: 30px;
  }

  .post-header .search-icon {
    right: 10px;
  }
}

.post-header .search-bar {
  position: relative;
  /* margin-left: 15px; */
}

.post-header .search-bar input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.post-header .search-bar input[type="text"]:focus {
  border-color: #6c63ff;
}

.post-header .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.post-header .search-icon:hover {
  color: #6c63ff;
}
.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 275px;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin: 0;
}

.content .posts .card-link {
  text-decoration: none;
  color: black;
}
.content {
  margin-top: 40px;
  flex: 1;
  padding: 20px;
}

/* .footer-h {
  height: 40px;
  background-color: #2f4050;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
