body {
  background-color: #dedede;
}

.pointer {
  display: inline-block;
  font-size: 16px;
  padding-left: calc(0.25em * 5);
  padding-right: calc(0.25em * 5);
  padding-top: calc(0.25em * 2);
  padding-bottom: calc(0.25em * 2);
  height: calc(0.25em * 16);
  position: relative;
  background: #777777;
  max-width: calc(0.25em * 32);
  min-width: calc(0.25em * 12);
  -webkit-clip-path: polygon(
    calc(0.25em * 42 * 0.85) 0,
    calc(0.25em * 42) 50%,
    calc(0.25em * 42 * 0.85) 100%,
    0% 100%,
    calc(0.25em * 32 * 0.15) 50%,
    0% 0%
  );
  clip-path: polygon(
    calc(0.25em * 42 * 0.85) 0,
    calc(0.25em * 42) 50%,
    calc(0.25em * 42 * 0.85) 100%,
    0% 100%,
    calc(0.25em * 32 * 0.15) 50%,
    0% 0%
  );
}
.pointer .text-content {
  display: inline-block;
  position: relative;
  top: calc(0.25em * -0.5);
  left: calc(0.25em * 2.5);
  min-width: calc(0.25em * 28);
  min-height: calc(0.25em * 17);
  margin-right: calc(0.25em * 4);
  vertical-align: middle;
  color: #ffffff;
}
.pointer .text-content p {
  text-align: center;
}
